/*
	::COLOR PALETTE::
	ddd78d-dcbf85-8b635c-60594d-93a29b
*/
body {
	font-family: roboto, helvetica, arial;
	padding: 0;
	margin: 0;
	background-color: #F0F0F0;
}

h1 {
	text-align: center;
	margin-bottom: 4px;
}

h1 a {
	font-weight: 700;
	color: #60594d;
}

p {
	text-align: center;
	margin: 2px;
	color: #8b635c;
}

a {
	text-decoration: none;
}

p#output {
	font-size: 14px;
	text-align: left;
	margin-left: 10px;
}

p#challenge {
	font-size: 16px;
	color: #8b635c;
}

.p5Canvas {
	padding: 0 10px;
	width: 100%
}

#btn-toggle-loop {
	width: 140px;
	line-height: 30px;
	text-align: center;
	background-color: #60594d;
	border: none;
	color: #FFF;
	position: fixed;
	top: 20px;
	left: 10px;
	cursor: pointer;
}

#btn-toggle-loop:hover {
	background-color: #50493d;
}


/* INDEX */
nav ul {
	padding: 0;
	margin: 0;
}
.menu-item {
	list-style: none;
	text-align: center;
	cursor: pointer;
	padding: 16px 0;
}
.menu-item p {
	margin: 0;
}
ul#diapason-initial-menu > li:nth-child(odd) {
	background-color: #ddd78d;
}
ul#diapason-initial-menu > li:nth-child(even) {
	background-color: #dcbf85;
}
#li-about {
	margin-bottom: 20px;
}
.menu-content {
	display: none;
}
.menu-label {
	font-size: 24px;
	color: #FFF;
	font-weight: bold;
}

footer {
	position: relative;
	width: 100%;
	height: 30px;
}
footer a{
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

ul.ul-options {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}

ul.ul-options li {
	display: inline-block;
	margin-left: 22px;
}

ul.ul-options li a {
	color: #8b635c;
	text-decoration: none;
}

ul.ul-options li a:hover {
	color: #60594d;
}